@charset "UTF-8";
/* Rendre le système mobile convivial et responsive
"Veillez à ce que toutes les pages soient responsives et s'adaptent bien aux smartphones ainsi
qu'aux écrans de bureau. Peu de nos utilisateurs visitent le site sur des tablettes, donc vous
n'avez pas besoin de concevoir pour cette taille d'écran".*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

body {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-tag {
  border: 1px solid #525252;
  border-radius: 20px;
  margin-right: 10px;
  padding-right: 2px;
  padding-left: 2px;
}

.link-tag a {
  color: #901C1C;
}

.link-tag:hover, .link-tag:active, .link-tag:focus {
  border: none;
  background-color: #901C1C;
}

.link-tag:hover a, .link-tag:active a, .link-tag:focus a {
  color: #FAFAFA;
}

.tagBox {
  border: 1px solid red;
  height: 30px;
}

.btn {
  border: none;
  width: 170px;
  height: 70px;
  background-color: #901C1C;
  color: #FAFAFA;
  font-size: 1.2em;
  cursor: pointer;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: #D3573C;
}

.dropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.dropDown__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

.dropDown__list:nth-child(2) {
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
}

.dropDown__list:nth-child(2), .dropDown__list:nth-child(3) {
  display: none;
}

.dropDown__list:hover__list:nth-child(2), .dropDown__list:hover__list:nth-child(3) {
  display: block;
}

.bground {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #c4c4c460;
}

.bground .content {
  margin: 5% auto;
  background-color: #DB8876;
  width: 670px;
  height: 900px;
  padding-left: 35px;
}

.bground .content .title-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bground .content .title-form h2,
.bground .content .title-form span {
  font-size: 4em;
  font-weight: 400;
}

.bground .content .title-form #cross-close {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.bground .content .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.bground .content .form-content label {
  font-size: 2em;
}

.bground .content .form-content .input {
  margin-top: 8px;
  width: 600px;
  height: 70px;
  font-size: 2em;
}

.bground .content .form-content #message {
  width: 600px;
  height: 170px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.bground-lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.bground-lightbox .content-lightbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% auto;
  background-color: #FAFAFA;
  width: 1400px;
  height: 1000px;
  padding-left: 35px;
}

.bground-lightbox .content-lightbox #lightbox-cross-close {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.bground-lightbox .content-lightbox .lightbox-img {
  border: 1px solid lightblue;
  background-color: #C4C4C4;
  width: 1050px;
  height: 900px;
}

.bground-lightbox .content-lightbox .lightbox-img__card-title {
  color: #901C1C;
}

.bground-lightbox .content-lightbox .fa-chevron-right,
.bground-lightbox .content-lightbox .fa-chevron-left {
  color: #901C1C;
  cursor: pointer;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin-bottom: 5em;
}

.main-banner .logo {
  margin-left: 2%;
}

.main-banner .main-navigation {
  height: 30px;
}

.main-banner h1 {
  color: #901C1C;
  font-size: 2.5em;
  margin-right: 2%;
}

.photograph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photograph__card {
  border: 0.5px solid #901C1C;
  width: 30%;
  height: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 2em;
}

.photograph__card--link {
  border: 0.5px solid #901C1C;
  height: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photograph__card--link .artist-pict {
  width: 15em;
  height: 15em;
  border: 1px solid #525252;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photograph__card--link h2 {
  color: #D3573C;
  font-size: 2em;
}

.photograph__card--txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photograph__card--txt strong {
  color: #901C1C;
  font-size: 1em;
}

.photograph__card--txt span {
  color: #525252;
}

.photographer-page {
  width: 99%;
  margin: auto;
}

.ph-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 40px;
  width: 1240px;
  height: 313px;
  background: #FAFAFA;
  margin-bottom: 60px;
}

.ph-info .ph-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.ph-info .ph-card__artist {
  font-size: 4em;
  line-height: 80px;
  color: #D3573C;
}

.ph-info .ph-card__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
}

.ph-info .ph-card__information--city {
  font-size: 1.5em;
  color: #901C1C;
  line-height: 31px;
}

.ph-info .ph-card__tag {
  margin-top: 50px;
}

.ph-info .profil-picture {
  width: 15em;
  height: 15em;
  border: 1px solid #525252;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.artist-portofolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: auto;
}

.artist-portofolio .show-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 86%;
  margin-bottom: 50px;
}

.artist-portofolio .show-selection .sort-title {
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 20px;
  line-height: 23.44px;
}

.artist-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 350px;
  margin-bottom: 50px;
}

.artist-cards .artist-cards__picture,
.artist-cards .artist-cards__video {
  border: 1px solid blue;
  background-color: #C4C4C4;
  width: 350px;
  height: 300px;
}

.artist-cards .artist-cards__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}

.artist-cards .artist-cards__information .card-title {
  color: #901C1C;
}

.artist-cards .artist-cards__information .card-price {
  font-weight: 600;
}

.artist-cards .artist-cards__information .card-price .fa-heart {
  margin-left: 5px;
}

.counter {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0px;
  right: 40px;
  z-index: 1;
  width: 375px;
  height: 50px;
  background-color: #DB8876;
}

.counter .like-compt,
.counter .ratePerDay {
  font-size: 1.5em;
}

.fa-heart {
  cursor: pointer;
  font-size: 1.2em;
  width: 20px;
  height: 20px;
  color: #901C1C;
}

.blackHeart {
  color: black;
  cursor: none;
}

.invisible-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 42%;
  height: 30px;
  width: 182px;
  background: #DB8876;
}

.invisible-link a {
  color: black;
  font-size: 18px;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media all and (min-width: 1920px) {
  body {
    width: 99%;
  }
  .block_page {
    width: 70%;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */