.btn {
    border: none;
    width: 170px;
    height: 70px;
    background-color: $primary-color;
    color: $quaternary-color;
    font-size: 1.2em;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        background-color: $secondary-color;
    }
}