.form-bground {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: $opacity-bg-color;
    transition: .2 s;

    .content {
        margin: 5% auto;
        background-color: $primary-bg-color;
        width: 670px;
        height: 900px;
        padding-left: 35px;

        .title-form {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: space-between;

            h2,
            span {
                font-size: 4em;
                font-weight: 400;

            }

            #cross-close {
                position: absolute;
                cursor: pointer;
                top: 20px;
                right: 20px;
            }

        }

        .form-content {
            display: flex;
            flex-flow: column nowrap;

            label {
                font-size: 2em;
            }

            .input {
                margin-top: 8px;
                width: 600px;
                height: 70px;
                font-size: 2em;
            }

            #message {
                width: 600px;
                height: 170px;
                margin-top: 10px;
                margin-bottom: 40px;
            }
        }

    }

    .content[aria-hidden="true"] {
        visibility: hidden;
        opacity: 0;
    }
}