.lightbox {
    // display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: $secondary-bg-color;
    z-index: 10;
    animation: lightboxStart .5s;

    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: auto;
        min-width: auto;
        height: 100vh;

        &--media {
            margin-top: 40px;
            margin-bottom: 40px;
            animation: lightboxStart .5s;

            video,
            img {
                object-fit: contain;
                min-width: 200px;
                max-width: 280px;
                height: auto;
            }

            h2 {
                color: $primary-color;
                font-size: 1em;
                text-align: center;
            }
        }

        &--prev,
        &--next {
            position: absolute;
            border: none;
            background: url(../media/logo/arrowleft.svg) center center / 100% 100% no-repeat;
            top: 0px;
            right: 0px;
            margin-top: 0px;
            height: 100%;
            width: 20px;
            z-index: 11;
        }

        &--prev {
            right: auto;
            left: 0px;
            transform: rotate(180deg);
        }



        &--close {
            position: absolute;
            border: none;
            width: 20px;
            height: 20px;
            background: url(../media/logo/crossClose.svg) center center / 100% 100% no-repeat transparent;
            z-index: 12;
            top: 10px;
            right: 10px;
        }

        button {
            opacity: .5;
            cursor: pointer;
            transition: opacity .3s;
            text-indent: -30000px;

            &:hover {
                opacity: 1;
            }
        }
    }
}

@media all and (min-width: 768px) {
    .lightbox {
        &__container {
            max-width: 100%;
            min-width: 700px;

            &--media {

                video,
                img {
                    object-fit: contain;
                    max-width: 680px;
                    max-height: 500px;
                }

                h2 {
                    font-size: 1.5em;
                }
            }
        }
    }
}

@media all and (min-width: 1024px) {
    .lightbox {
        &__container {
            min-width: 1000px;

            &--media {

                video,
                img {
                    object-fit: contain;
                    max-width: 880px;
                    max-height: 650px;
                }

                h2 {
                    font-size: 1.5em;
                }
            }

            &--prev,
            &--next {
                width: 50px;
            }

            &--close {
                width: 42px;
                height: 42px;
            }
        }
    }
}

@media all and (min-width: 1440px) {
    .lightbox {
        &__container {
            min-width: 1300px;

            &--media {

                video,
                img {
                    max-width: 1300px;
                    max-height: 800px;
                }

                h2 {
                    font-size: 2em;
                }

            }

            &--prev,
            &--next,
            &--close {
                top: 24px;
                right: 100px;
            }

            &--prev {
                left: 100px;
            }
        }
    }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .lightbox {
        &__container {
            min-width: 700px;
            max-height: 370px;

            &--media {
                margin: auto;

                video,
                img {
                    max-width: 460px;
                    max-height: 280px;
                }

                h2 {
                    font-size: 1em;
                }

            }

            &--prev,
            &--next {
                width: 36px;
            }

            &--close {
                width: 36px;
                height: 36px;
            }
        }
    }
}

@keyframes lightboxStart {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}