@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

// #TAG CONFIG
.link-tag,
.tag-linked {
    display: flex;
    height: 20px;
    border: 1px solid $terciary-color;
    border-radius: 15px;
    margin: 0px 10px 8px 0px;
    padding: 0px 5px;

    a {
        color: $primary-color;
        font-size: .8em;
        font-weight: 500;
        line-height: 16px;
        margin: auto;
    }

    &:hover {
        border: none;
        background-color: $primary-color;

        a {
            color: $quaternary-color;
        }
    }
}

.active {
    background-color: $primary-color;

    a {
        color: $quaternary-color;
        font-weight: 500;
    }
}

.tagBox {
    height: 30px;
}

@media all and (min-width: 768px) {

    .link-tag,
    .tag-linked {
        height: 22px;

        a {
            font-size: 13px;
        }
    }
}