@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}



body {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

// #TAG CONFIG


.link-tag,
.tag-linked {
    display: flex;
    border: 1px solid $terciary-color;
    height: 22px;
    border-radius: 20px;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;

    a {
        color: $primary-color;
        font-size: 16px;
    }

    &:hover,
    &:focus {
        border: none;
        background-color: $primary-color;

        a {
            color: $quaternary-color;
        }
    }
}

.active {
    background-color: $primary-color;

    a {
        color: $quaternary-color;
    }
}

.tagBox {
    height: 30px;
}