// INVISIBLE LINK
#goToTop {
    display: none;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 11;

    .invisible-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 28px;
        width: 185px;
        background: #DB8876;

        a {
            color: black;
            font-size: 18px;
            font-weight: 700;
        }
    }
}

//HEADER
#main-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 20px 10px;

    .logo svg {
        padding-left: 10px;
        width: 130px;
        height: auto;
    }

    .main-navigation {
        margin-top: 10px;

        #tags {
            margin: auto;
            display: flex;
            flex-flow: row wrap;
            width: 90%;
        }
    }
}

// Main
#main {
    display: block;

    h1 {
        position: absolute;
        top: 32px;
        right: 6%;
        color: $primary-color;
        font-size: 1em;
        font-weight: 400;
        line-height: 18px;
    }

    .photograph {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
    }
}

.photograph__card {
    width: 99%;
    max-width: 420px;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2em;

    &--link {
        height: 22em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;

        .artist-pict {
            @include artist-profil-cards;
        }

        h2 {
            color: $secondary-color;
            font-size: 2.25em;
        }
    }

    &--txt {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: 15px;

        strong {
            color: $primary-color;
            font-size: 1em;
        }

        p {
            font-weight: 500;
        }

        span {
            color: #757575;
            ;
            margin-bottom: 10px;
        }
    }
}

@media all and (min-width: 768px) {
    #main-banner {
        margin-bottom: 40px;

        .main-navigation {
            margin-top: 10px;
            margin-left: 30px;

            #tags {
                margin: auto;
                display: flex;
                flex-flow: row wrap;
                width: 100%;
            }
        }
    }

    #main {
        h1 {
            right: 2%;
            font-size: 1.3em;
        }

        .photograph {
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            margin: auto;
        }
    }

    .photograph__card {
        max-width: 320px;
        width: 320px;
        height: 400px;
    }
}

@media all and (min-width: 1024px) {
    #main-banner {
        flex-direction: row;

        .logo svg {
            width: 160px;
        }

        .main-navigation {
            width: 70%;
            margin-left: 0px;

            #tags {
                margin: auto;
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
            }
        }

    }

    .photograph__card {
        max-width: 335px;
        // width: 335px;
        height: 400px;

    }
}


@media all and (min-width: 1440px) {
    #main-banner {
        padding: 20px 20px;


        .logo svg {
            width: 200px;
            padding-top: 10px;
        }

        .main-navigation {
            width: 60%;
            padding: 20px 0px 15px 0px;
        }
    }

    #main {
        h1 {
            top: 50px;
            font-size: 2.5em;
        }
    }

    .photograph__card {
        width: 30%;
        max-width: 480px;
    }
}

@media all and (min-width: 1920px) {
    #main-banner {
        .main-navigation {
            padding: 20px 0px 15px 6%;
        }
    }

    #main {
        position: relative;

        h1 {
            top: -110px;
            right: 0px;
        }
    }

    .photograph__card {
        margin-top: 50px;
    }
}