// page photographe
.photographer-page {
    width: 99%;
    margin: auto;
}

.ph-info {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 40px;
    width: 1240px;
    height: 313px;
    background: $quaternary-color;
    margin-bottom: 60px;

    .ph-card {
        flex-flow: column nowrap;

        &__artist {
            font-size: 4em;
            line-height: 80px;
            color: $secondary-color;
        }

        &__information {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 20px;

            &--city {
                font-size: 0.5em;
                color: $primary-color;
                line-height: 31px;
            }

            &--tagline {
                font-size: 1.2rem;
                color: $terciary-color;
            }
        }

    }

    .profil-picture {
        @include artist-profil-cards;
    }
}

.artist-portofolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    margin: auto;

    .show-selection {
        display: flex;
        width: 86%;
        margin-bottom: 50px;

        .sort-title {
            font-size: 1.2em;
            font-weight: 700;
            margin-right: 20px;
            line-height: 23.44px;

        }
    }
}

.artist-cards {
    border: 1px solid $primary-color;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 350px;
    margin-bottom: 50px;

    .artist-cards__picture,
    .artist-cards__video {
        border: 1px solid blue;
        background-color: $secondary-bg-color;
        width: 350px;
        height: 300px;

    }

    .artist-cards__information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;

        .card-title {
            color: $primary-color;
        }

        .card-price {
            font-weight: 600;
            color: $primary-color;
            font-size: 1.2em;

            .card-likeNumbers {
                margin-left: 10px;
                font-size: .9em;
            }

            .fa-heart {
                margin-left: 2px;

            }
        }

    }
}


// aside counter of like
.counter {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    right: 40px;
    z-index: 1;
    width: 375px;
    height: 50px;
    background-color: $primary-bg-color;

    .like-compt,
    .ratePerDay {
        font-size: 1.5em;
    }
}


// icone coeur fontawesome
.fa-heart {
    cursor: pointer;
    font-size: 1.2em;
    width: 20px;
    height: 20px;
    color: $primary-color;
}

.blackHeart {
    color: black;
    cursor: none;
}